.container{
    text-align: center;
    margin-top: 30px;
}
h1{
    font-weight: 599;
    font-size: 30px;
}
body{
    background-color: rgb(204, 201, 201);
}
table{
    margin: auto;
}

input{
    font-size: 35px;
    border: 5px solid #244624;
    border-radius: 21px;
    margin-bottom: 20px;
    background-color: #2e412e;
    color: white;
    padding-left: 20px;
}

button{
    font-size: 40px;
    background-color: rgb(216, 87, 87);
    width: 92px;
    height: 57px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 1px;
}

.calculator{
    display: inline-block;
    padding: 23px;
    border-radius: 53px;
    background-color: burlywood;
    border: 4px solid black;
    /* border: 2px solid red; */
}